.content
  %h2 Add notes here for remind
  %section#add
    %form.form-inline{:action => "/users/#{@current_user.id}/notes", :method => 'POST'}
      %textarea.input-xxlarge{:type => 'text', :name => 'content', :placeholder => 'note here...'}
      %input.btn.btn-primary{:type => 'submit', :value => 'note'}

  .notes-container
    - @notes.each do |note|
      .well{:class => note.complete ? 'alert-success' : 'alert-info'}
        %p
          = note.content
        %p{:class => 'muted'}
          created: "#{note.created_at}"
        .pull-right
          %a{:href => "/notes/#{note.id}/delete"}
            %i.icon-remove
            [Delete]
          %a{:href => "/notes/#{note.id}/complete"}
            %i.icon-ok
            [Complete]
